/* 
FILENAME: globals.css
DESCRIPTION: This stylesheet serves global declarations to all MattLovesLinz.com assets
AUTHOR: Matthew Anderson -> manderson@onehub.com
LAST MODIFIED DATE: 11.02.2008
*/

/* Hides from IE-Mac \*/

/* End hide from IE-Mac */